@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-padding: 0.75rem;
  --fw-400: 400;
  --fw-600: 600;

  --clr-white: #f1f5f9;
  --clr-blue-dark: #021024;
  --clr-blue-dark-50: #052552;
  --clr-blue-medium: #005ef3;
  --clr-blue-medium-50: #00378c;
  --clr-blue-light: #c1e8ff;
  --clr-gray: #7da0ca;
  --clr-slate-900: #0f172a;
  --fs-xs: 0.5rem;
  --fs-sm: 0.75rem;
  --fs-md: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-xll: 1.75rem;

  --br: 10px;
  --bw: 2px;
}

::selection {
  background-color: #94a3b8;
  color: #0f172a;
}

.active {
  color: var(--clr-white);
}
.active::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  height: 3px;
  border-radius: 100vw;
  bottom: 0;
  background-color: #f1f5f9;
}

.home {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.home::-webkit-scrollbar {
  display: none;
}
.or p {
  background: var(--clr-blue-dark);
  box-shadow: 0px 0px 20px 5px var(--clr-blue-dark);
  z-index: 2;
}

.or::after {
  content: "";
  left: 0;
  right: 0;
  height: 1px;
  background: var(--clr-gray);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.chat-people:hover .settings {
  opacity: 1;
}
.chat-active {
  background-color: var(--clr-slate-900);
  position: relative;
}
.chat-active::after {
  content: "";
  position: absolute;
  width: 3px;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: var(--clr-white);
  border-radius: 100vw;
}
